<% bsname = view_colour()
types = Teiserver.Game.MatchRatingLib.rating_type_list() %>

<%= for t <- types do %>
  <.section_menu_button
    bsname={bsname}
    url={~p"/battle/ratings/leaderboard/#{t}"}
  >
    {t}
  </.section_menu_button>
<% end %>
