<h4>Ratings</h4>
<textarea rows="8" class="form-control monospace"><%= Jason.encode! @clan.rating, pretty: true %></textarea>

<h4>Homepage</h4>
<textarea rows="8" class="form-control monospace"><%= Jason.encode! @clan.homepage, pretty: true %></textarea>
