<UserComponents.section_menu active="list" scope={@scope} />

<.header>
  Listing Users
  <:actions>
    <.link patch={~p"/moderation/users/new"}></.link>
  </:actions>
</.header>
<div class="heading-subtitle">{format_number(@user_count)} users found</div>

<UserComponents.search_form params={@search} changed?={@search_changed?} />

<.live_component
  :if={@preferences}
  module={UserListPreferences}
  id="user-list-preferences-form"
  scope={@scope}
  preferences={@preferences}
  update_parent={true}
/>

<div style="clear: both;"></div>

<.table
  :if={@preferences}
  id="users-table"
  rows={@users}
  table_class={["table-sm mt-4 ", @preferences.table_class]}
  row_click={fn user -> JS.navigate(~p"/moderation/users/#{user}") end}
>
  <:col :let={user} label="User">{user.name}</:col>
  <:col :let={user} :if={@is_moderator?} label="Email">
    <span :if={@preferences.email == "partial"}>
      {user.email |> String.split("@") |> List.last()}
    </span>
    <span :if={@preferences.email == "full"}>{user.email}</span>
  </:col>
  <:col :let={user} :if={@preferences.client?} label="Client">{user.client}</:col>
  <:col :let={user} label="Status">
    <UserComponents.status_icon user={user} />
  </:col>
  <:col :let={user} :if={@is_moderator?} label="HW">{user.hw_string}</:col>
  <:col :let={user} :if={@is_moderator?} label="IP">{user.last_ip}</:col>
  <:col :let={user} label="Roles">
    {if Enum.member?(user.roles || [], "Trusted"), do: "Trusted "}
    {if Enum.member?(user.roles || [], "Contributor"), do: "Contributor "}
    {if Enum.member?(user.roles || [], "Moderator"), do: "Moderator"}
  </:col>
  <:col :let={user} label="Registered">
    {Calendar.strftime(user.inserted_at, "%Y-%m-%d")}
  </:col>
</.table>

<div class="grid place-items-center mt-4">
  <TeiserverWeb.PaginationComponents.tw_pagination
    page={@page}
    page_count={@page_count}
  />
</div>

<.back navigate={~p"/moderation"}>Back to moderation</.back>

<.modal
  :if={@live_action in [:new, :edit]}
  id="user-modal"
  show
  on_cancel={JS.patch(~p"/moderation/users")}
>
  <.live_component
    module={FormComponent}
    id={@user.id || :new}
    title={@page_title}
    action={@live_action}
    user={@user}
    patch={~p"/moderation/users"}
  />
</.modal>
