<UserComponents.section_menu active="action" scope={@scope} user={@user} />

<div :if={@user} class="single-block-content bg-warning/80 text-warning-content p-10 px-30">
  <h1 class="text-center text-5xl font-bold">Confirm setting GDPR forget</h1>
  <div class="p-6 m-4 text-lg text-left"></div>

  <form method="POST">
    <input type="hidden" name="_csrf_token" value={Phoenix.Controller.get_csrf_token()} />

    <div class="flex">
      <div class="flex-1">
        <a href={~p"/moderation/users/#{@user.id}"} class="btn btn-lg btn-neutral min-w-100">
          Cancel
        </a>
      </div>
      <div class="flex-1">
        <span class="btn btn-primary btn-lg min-w-100" phx-click="perform-set">
          Confirm setting GDPR forget for {@user.name}
        </span>
      </div>
    </div>
  </form>
</div>
