<UserComponents.section_menu active="show" user={@user} scope={@scope}>
  <.link
    :if={@user}
    navigate={~p"/teiserver/admin/user/#{@user.id}"}
    phx-click={JS.push_focus()}
    class="me-4"
  >
    <.button class="btn btn-sm btn-primary btn-soft">Old UI</.button>
  </.link>

  <UserComponents.quick_search />
</UserComponents.section_menu>

<.header :if={@user}>
  {@user.name}
</.header>

<div style="clear: both;"></div>
<div class="alert alert-info alert-soft my-4">
  This page is intended to be a moderation specific list of users, this means it can be tweaked to the needs of the moderation team without needing to worry about admin requirements. Please speak to Teifion (probably in #mod-utils) regarding requests and ideas.
</div>

<div :if={not Enum.empty?(@alerts)} class="my-2 flex">
  <div :for={{type, text} <- @alerts} class={"flex-1 alert #{type}"}>
    {text}
  </div>
</div>

<div class="flex">
  <div class="flex-1 px-4">
    <UserComponents.show_tabset tab={@tab1} set="1" />

    <div :if={@user}>
      <UserComponents.show_details :if={@tab1 == "details"} user={@user} />

      <UserComponents.show_audit :if={@tab1 == "audit"} audit_logs={@streams.audit_logs} />

      <UserComponents.show_actions :if={@tab1 == "actions"} user={@user} />
    </div>
  </div>
  <div :if={@user} class="flex-1 px-4">
    <UserComponents.show_tabset tab={@tab2} set="2" />

    <div :if={@user}>
      <UserComponents.show_details :if={@tab2 == "details"} user={@user} />

      <UserComponents.show_audit :if={@tab2 == "audit"} audit_logs={@streams.audit_logs} />

      <UserComponents.show_actions :if={@tab2 == "actions"} user={@user} />
    </div>
  </div>
</div>

<.back navigate={~p"/moderation/users"}>Back to Users</.back>
