<% {_fg, _bg, bsname} = colours() %>

<form action='<%= Routes.ts_admin_user_path(@conn, :perform_action, @user, "permanent_ban") %>' method="POST" data-confirm="Are you sure">
  <input type="hidden" name="_method" value="PUT" />
  <input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>" />

  <button type='submit' class='btn btn-<%= bsname %> float-right'>
    Permanently ban
  </button>
</form>
