<TeiserverWeb.Account.ProfileComponents.profile_header
  active="achievements"
  view_colour={@view_colour}
  user={@user}
  current_user={@current_user}
/>

<div class="row mt-2 mb-3">
  <div class="col">
    
    CHEEVOS HERE
    
  </div>
</div>
