<TeiserverWeb.Account.ProfileComponents.profile_header
  active="contributor"
  view_colour={@view_colour}
  user={@user}
  current_user={@current_user}
  profile_permissions={@profile_permissions}
/>

<style type="text/css">
  .style-selector {
    cursor: pointer;
  }
</style>

<div class="row mt-2 mb-3">
  <div class="col">
    This is a work in progress, I needed to put it up like this so I could hotfix in improvements without a server restart.
  </div>
</div>
