<BarserverWeb.Account.ProfileComponents.profile_header
  active="matches"
  view_colour={@view_colour}
  user={@user}
  current_user={@current_user}
  profile_permissions={@profile_permissions}
/>

<div class="row mt-2 mb-3">
  <div class="col">
    List of recent matches goes here
  </div>
</div>
