<TeiserverWeb.Account.ProfileComponents.profile_header
  active="settings"
  view_colour={@view_colour}
  user={@user}
  current_user={@current_user}
  profile_permissions={@profile_permissions}
/>

<div class="row mt-2 mb-3">
  <div class="col">
    
    Settings config here
    
  </div>
</div>
