<div>
  <TeiserverWeb.NavComponents.top_navbar_tw
    active={assigns[:site_menu_active]}
    current_user={@current_user}
  />

  <.flash_group flash={@flash} />

  <main>
    <div class="px-3 my-0">
      {@inner_content}
    </div>
  </main>

  <footer class="footer mt-auto pt-2 pb-1 px-2">
    <div style="text-align: right;">
      &nbsp;
    </div>
  </footer>
</div>
