<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <%= if assigns[:rss_feed] do %>
      <link rel="alternate" type="application/rss+xml" title="Blog title" href={@rss_feed} />
    <% end %>

    <.live_title suffix={Application.get_env(:teiserver, Teiserver)[:site_suffix]}>
      {assigns[:page_title] || Application.get_env(:teiserver, Teiserver)[:site_title]}
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app_tw.css"} />

    <link phx-track-static rel="stylesheet" href={~p"/css/fontawesome.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/css/solid.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/css/regular.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/css/brands.css"} />

    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>

    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script>
      (() => {
        const setTheme = (theme) => {
          localStorage.setItem("phx:theme", theme);
          document.documentElement.setAttribute("data-theme", theme);
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));

        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));
      })();
    </script>
  </head>
  <body class="container-fluid px-0 d-flex flex-column">
    {@inner_content}
  </body>
</html>
