<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <%= if assigns[:rss_feed] do %>
      <link rel="alternate" type="application/rss+xml" title="Blog title" href={@rss_feed} />
    <% end %>

    <.live_title suffix={Application.get_env(:teiserver, Teiserver)[:site_suffix]}>
      {assigns[:page_title] || Application.get_env(:teiserver, Teiserver)[:site_title]}
    </.live_title>

    <% light_mode =
      case Teiserver.Config.get_user_config_cache(@current_user, "general.Colour scheme") do
        "Site default" -> Teiserver.Config.get_site_config_cache("user.Default light mode")
        "Light" -> true
        "Dark" -> false
        _ -> Teiserver.Config.get_site_config_cache("user.Default light mode")
      end %>

    <%= if light_mode do %>
      <link phx-track-static rel="stylesheet" href={~p"/assets/light.css"} />
    <% else %>
      <link phx-track-static rel="stylesheet" href={~p"/assets/dark.css"} />
    <% end %>
    <link phx-track-static rel="stylesheet" href={~p"/css/fontawesome.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/css/solid.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/css/regular.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/css/brands.css"} />

    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>

    <script phx-track-static type="text/javascript" src={~p"/js/jquery.min.js"}>
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script defer phx-track-static type="text/javascript" src={~p"/js/bootstrap.min.js"}>
    </script>
  </head>
  <body class="container-fluid px-0 d-flex flex-column">
    <.flash_group flash={@flash} />
    {@inner_content}
  </body>
</html>
