<div style="height: 15px;">&nbsp;</div>

<div class="row">
  <.menu_card
    icon={Barserver.Chat.RoomMessageLib.icon()}
    icon_class="fa-duotone"
    url={~p"/chat/room/main"}
  >
    Rooms
  </.menu_card>

  <.menu_card
    icon={Barserver.Battle.MatchLib.icon()}
    icon_class="fa-duotone"
    url={~p"/battle/lobbies"}
  >
    Lobbies
  </.menu_card>
</div>
