<style type="text/css">
  .message {
    word-wrap: break-word;
    max-width: 70vw;
  }
</style>

<div class="row mt-3">
  <div class="col-md-12">

    <div id={"room-#{@room_name}"}>
      <TeiserverWeb.ChatComponents.message_list messages={@streams.messages} />
      <!-- ... form for a new message -->
    </div>
      
  </div>
</div>
