<% bsname = view_colour() %>

<%= central_component("section_menu_button",
  name: "search",
  label: "Search",
  active: @active,
  icon: Barserver.Chat.LobbyMessageLib.icon(),
  bsname: bsname,
  url: ~p"/admin/chat"
) %>
