<% bsname = view_colour() %>

{render(
  TeiserverWeb.Game.GeneralView,
  "sub_menu.html",
  Map.merge(assigns, %{active: "queues"})
)}

<div class="row section-menu">
  <div class="col-md-12">
    <div class={"card border-#{bsname}"}>
      <div class="card-body">
        {render(
          TeiserverWeb.Game.QueueView,
          "section_menu.html",
          Map.merge(assigns, %{
            quick_search: "",
            show_search: false,
            active: "new"
          })
        )}

        <hr />

        {render(
          "form.html",
          Map.put(assigns, :action, Routes.ts_game_queue_path(@conn, :update, @queue))
        )}

        <hr />
        {link(raw("<i class='far fa-fw fa-trash'></i> Delete"),
          to: Routes.ts_game_queue_path(@conn, :delete, @queue),
          method: :delete,
          data: [confirm: "Are you sure?"],
          class: "btn btn-danger btn-outline"
        )}
      </div>
    </div>
  </div>
</div>
