<% bsname = view_colour() %>

{central_component("section_menu_button",
  name: "index",
  label: "List",
  active: @active,
  icon: "fa-solid fa-bars",
  bsname: bsname,
  url: Routes.admin_lobby_policy_path(@conn, :index)
)}

<%= if allow?(@conn, "Server") do %>
  {central_component("section_menu_button",
    name: "new",
    label: "New",
    active: @active,
    icon: "fa-regular fa-plus",
    bsname: bsname,
    url: Routes.admin_lobby_policy_path(@conn, :new)
  )}
<% end %>
