<%= if allow?(@current_user, "teiserver") do %>
  <%= central_component "sidemenu_item",
    name: "teiserver",
    label: "Teiserver",
    active: assigns[:sidemenu_active],
    icon: Teiserver.icon(),
    url: Routes.ts_general_general_path(@conn, :index)
  %>
<% end %>

<li style='height: 5px; border-bottom: 1px solid #DDD;'>&nbsp;</li>
