<BannedPhraseComponents.section_menu active="list" scope={@scope}>
  <.link patch={~p"/moderation/banned_phrases/new"} class="btn btn-primary btn-sm">
    <Fontawesome.icon icon="plus" style="regular" /> New Banned Phrase
  </.link>
</BannedPhraseComponents.section_menu>

<.header>
  Listing Banned Phrases
  <:actions>
    <.link patch={~p"/moderation/banned_phrases/new"}></.link>
  </:actions>
</.header>
<div class="heading-subtitle">{@banned_phrase_count} Banned Phrases found</div>

<BannedPhraseComponents.search_form params={@search} changed?={@search_changed?} />

<.table
  id="banned_phrases-table"
  rows={@streams.banned_phrases}
  table_class="table-sm table-zebra mt-4"
  row_click={
    fn {_id, banned_phrase} -> JS.navigate(~p"/moderation/banned_phrases/#{banned_phrase}") end
  }
>
  <:col :let={{_id, banned_phrase}} label="Phrase">{banned_phrase.phrase}</:col>
  <:col :let={{_id, banned_phrase}} label="Score threshold">{banned_phrase.score_threshold}</:col>
  <:col :let={{_id, banned_phrase}} label="Type">{banned_phrase.type}</:col>
  <:col :let={{_id, banned_phrase}} label="Use cases">
    {Enum.join(banned_phrase.use_cases, ", ")}
  </:col>
  <:action :let={{_id, banned_phrase}}>
    <div class="sr-only">
      <.link navigate={~p"/moderation/banned_phrases/#{banned_phrase}"}>Show</.link>
    </div>
    <.link
      patch={~p"/moderation/banned_phrases/#{banned_phrase}/edit"}
      class="btn btn-secondary btn-outline btn-sm me-2"
    >
      <Fontawesome.icon icon="wrench" style="regular" /> Edit
    </.link>
  </:action>
  <:action :let={{_id, banned_phrase}}>
    <.link
      phx-click={
        JS.push("delete", value: %{id: banned_phrase.id}) |> hide("##{banned_phrase.id}")
      }
      data-confirm="Are you sure?"
      class="btn btn-error btn-outline btn-sm"
    >
      <Fontawesome.icon icon="trash" style="regular" /> Delete
    </.link>
  </:action>
</.table>

<div class="grid place-items-center mt-4">
  <TeiserverWeb.PaginationComponents.tw_pagination
    page={@page}
    page_count={@page_count}
  />
</div>

<.back navigate={~p"/moderation"}>Back to moderation</.back>

<.modal
  :if={@live_action in [:new, :edit]}
  id="banned_phrase-modal"
  show
  on_cancel={JS.patch(~p"/moderation/banned_phrases")}
>
  <.live_component
    module={FormComponent}
    id={@banned_phrase.id || :new}
    title={@page_title}
    action={@live_action}
    banned_phrase={@banned_phrase}
    patch={~p"/moderation/banned_phrases"}
  />
</.modal>
