<br />

<%= central_component("detail_line",
  label: "Email",
  value: @user.email
) %>

<%= central_component("detail_line",
  label: "Created",
  value: date_to_str(@user.inserted_at, format: :hms_dmy, tz: @tz)
) %>

<%= central_component("detail_line",
  label: "Styling",
  icon: %{
    colour: @user.colour,
    icon: @user.icon
  },
  value: @user.colour
) %>
