/** {
  font-size: 0.9rem;
}*/

/* Spinner stuff */
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.slow-spin {
  animation-name: spin;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fast-spin {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


/* Bootstrap modifier */
.dropdown-toggle-icon-only {
  background-color: none;
  border: none;
}
.dropdown-toggle-icon-only:after { content: none }
.dropdown-toggle-icon-only:hover {border: none; box-shadow: none;}
.dropdown-toggle-icon-only:active {border: none; box-shadow: none;}




.alert-primary{color:#249;background-color:#DEF;border-color:#46B}
.alert-primary hr{border-top-color:#46B}
.alert-primary .alert-link{color:#135}

.alert-info2{color:#10a09d;background-color:#E0F8F8;border-color:#17b0ad}
.alert-info2 hr{border-top-color:#17b0ad}
.alert-info2 .alert-link{color:#07908d}

.alert-no-margin {
  margin: 0;
}


#documentation-title {
  float: left;
  margin-right: 45px;
  font-size: 2em;
}

#documentation-description {
  font-size: 1.2em;
}

#documentation-related {
  float: right;
  width: 250px;
  border-left: 1px solid #AAA;
  padding: 0 0 20px 20px;
  margin: 0 0 20px 20px;
}

#documentation-related h4 {
  text-align: center;
}

.debug {
  background-color: #F66;
  color: #000;
  font-weight: bold;
  font-size: 1.4em;
}

.body-logo {
  background: url('/images/logo/bg_logo.svg') center center no-repeat;
  background-attachment: fixed
}

body.modal-open {
  overflow: visible;
}

/* Page instructions */
#page-instructions-hide, #page-instructions-show {
  float: left;
  font-weight: bold;
}
/*#page-instructions-bottom {
  border-bottom: 2px solid #777;
}*/
.page-instructions {
  margin: 15px -30px 15px -30px;
  font-size: 1.1em;
}
.page-instructions, #page-instructions-button, #page-instructions-hide {
  display: none;
}

.tab-pane .page-instructions {
  margin: 15px -35px 15px -35px;
  font-size: 1.1em;
}

#page-instructions-button a {
  padding-top: 13px;
  border-bottom: 2px solid #FFF;
}
#page-instructions-button a:hover {
  border-bottom: 2px solid #000;
}


/* Nav */
nav a:hover {
  text-decoration: none;
}

nav .nav-item {
}

.navbar-brand {
  width: 142px;
}

.navbar-nav > .nav-item > .nav-link {
  padding-left: 20px;
  padding-right: 20px;
  height: 49px;
}

.navbar-nav > .nav-item > .nav-link:hover {
  background-color: none;
}

.navbar-nav .nav-link:hover {
  background-color: #EEE;
}

#top-nav {
  background-color: #FAFAFF;
  border-bottom: 1px solid #DDD;
}


.navbar-toggler, .navbar-toggler {
  background-color: none;
}


.picker-modal-close {
  font-size: 2em;
}

.dropdown-divider {
  border-top: 1px solid #EEE;
}

.input-group-show, .input-group-form {
  width: 100%;
  margin-bottom: 5px;
}

/*.input-group-show .input-group-addon, .input-group-form .input-group-addon {
  width: 125px;
}
*/

.row-left {
  width: 145px;
}

.warn-control {
  border: 1px solid #F00;
  background-color: #FEE;
}


.menu-card .panel-body {
  padding: 0;
}

.menu-card .panel-body:hover {
  /*background-color: #6bd0fe;*/
  
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.menu-card a, .menu-card span {
  /*border: 1px solid #000;*/
  
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  
  font-size: 1.6em;
  line-height: 2em;
  
  color: #34495e;
  
  text-decoration: none;
  
  /*text-shadow: 2px 2px 2px rgba(0,0,0,0.05);*/
  
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.menu-card a:hover, .menu-card span:hover {
  color: #007bff;
  
  cursor: pointer;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}


.line-card a {
  display: block;
  text-align: center;
  padding: 15px 20px;
  border: 1px solid #FFFFFF;
  
  font-size: 1.1em;
  text-align: left;
  margin-bottom: 15px;
  
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.line-card a:hover {
  color: #000;
  background-color: #FFF0F0;
}



/* Page sub menu */
.sub-menu {
  margin-top: 20px;
}

.sub-menu .card-body, #sub-menu-card-body {
  padding: 0 15px;
}

.sub-menu-icon a {
  margin: 0 5px;
  padding: 0;
}

.sub-menu-icon a {
  margin: 0;
  padding: 15px 0 10px 0;
  color: #555;
  
  border-bottom: 5px solid #FFF;
  
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  transition: all 200ms linear;
}

.sub-menu-icon a:hover {
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}


/* Breadcrumbs */
.breadcrumb {
  margin-bottom: 0;
  background-color: #f5f5f5;
  border-radius: 0px;
  padding: 8px 10px 5px 10px;
  
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}

.breadcrumb a {
  color: #000;
  
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  -ms-transition: all 100ms linear;
  transition: all 100ms linear;
  
  /*border-bottom: 1px dotted #f5f5f5;*/
}

.breadcrumb a:hover {
  color: #00A;
  border-bottom: 1px dotted #00A;
}





/* Side nav */
#sidebar-wrapper {
  /*background-color: #FAFAFA;*/
  background-color: #F5F5F5;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.15);
}

.sidebar-nav ul {
  margin: 0;
  padding: 0;
  
}

.sidebar-nav li {
  width: 100%;
  background-color: #F5F5F5;
}

.sidebar-nav li a {
  border-left: 5px solid #F5F5F5;
  border-bottom: 1px solid #DDD;
  
  width: 100%;
  display: block;
  
  margin: 0;
  padding: 5px 0 5px 15px;
  
  -webkit-transition: all 75ms linear;
  -moz-transition: all 75ms linear;
  -o-transition: all 75ms linear;
  -ms-transition: all 75ms linear;
  transition: all 75ms linear;
  
  color: #555;
}
.sidebar-nav li a:hover {
  background-color: #FFF;
  color: #000;
  border-left: 5px solid #444;
}

.side-menu-active a {
  /*font-weight: bold;*/
}

.sidebar-nav-small li a {
  padding: 3px 0 3px 10px;
  font-size: 0.9em;
}


/* Page elements */
.block-link {
  text-align: center;
  display: inline-block;
  
  /*background-color: #AAA;*/
  width: 100%;
  /*height: 100%;*/
  
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.block-link:hover {
  text-decoration: none;
  color: #05A;
}

.section-menu {
  margin-top: 20px;
}

#section-men-extended {
  border-top: 1px solid #EEE;
  margin-top: 5px;
  display: none;
}
#section-men-extended .btn {
  margin-top: 5px;
}

.page-row {
  margin-top: 20px;
}

.page-card {
  margin-top: 20px;
}

.table-sm {
  font-size: 0.9rem;
}

.table-sm .btn-sm {
  padding: 0.25rem 0.6rem;
}



.control-label {
  font-weight: bold;
}

input[type="color"] {
  min-height: 2rem;
  padding: 0.2rem;
}


.input-group-text {
  color: #333;
}

.modal-lg {
  max-width: 60% !important;
}

.modal-xl {
  max-width: 75% !important;
}

.table th {
  border-top-width: 0px;
}

.help-block {
  color: #A00;
  background-color: #FEE;
  padding: 2px 5px;
  display: block;
}

@media only screen and (max-width: 768px) {
  .hide-sm {
    display: none;
  }
}

@media only screen and (max-width: 992px) {
  .hide-md, .show-lg {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .hide-lg, .show-xl {
    display: none;
  }
}

.form-input-col {
  margin-top: 10px;
  min-height: 80px;
}

.search-form-input {
  margin-top: 10px;
  min-height: 80px;
}


.navbar-toggler-icon {
  cursor: pointer;
  border-left: 1px solid #DDD; 
  border-right: 1px solid #DDD;
  width: 60px;
}

.navbar-toggler-icon:hover {
  background-color: #EEE;
}

.monospace {
  font-family: monospace;
}




.slow-blink-primary {
  animation: pulse-primary 6s ease infinite;
}
@keyframes pulse-primary {
  0% {
    background-color: #007bff;
    color: #FFFFFF;
  }
  50% {
    background-color: #005bcf;
    color: #FFFFFF;
  }
  100% {
    background-color: #007bff;
    color: #FFFFFF;
  }
}


.slow-blink-outline-primary {
  animation: pulse-outline-primary 6s ease infinite;
}
@keyframes pulse-outline-primary {
  0% {
    background-color: #DDEEFF;
    color: #4466BB;
  }
  50% {
    background-color: #FFF;
    color: #6677DD;
  }
  100% {
    background-color: #DDEEFF;
    color: #4466BB;
  }
}

.slow-blink-primary2 {
  animation: pulse-primary2 6s ease infinite;
}
@keyframes pulse-primary2 {
  0% {
    background-color: #FFEEFF;
    color: #990088;
  }
  50% {
    background-color: #FFF;
    color: #BB22AA;
  }
  100% {
    background-color: #FFEEFF;
    color: #990088;
  }
}

.slow-blink-info {
  animation: pulse-info 6s ease infinite;
}
@keyframes pulse-info {
  0% {
    background-color: #DDF5F5;
    color: #22AACC;
  }
  50% {
    background-color: #FFF;
    color: #44CCFF;
  }
  100% {
    background-color: #DDF5F5;
    color: #22AACC;
  }
}

.slow-blink-danger {
  animation: pulse-info 6s ease infinite !important;
}
@keyframes pulse-info {
  0% {
    color: #555555 !important;
  }
  50% {
    color: #FFF5F5 !important;
  }
  100% {
    color: #555555 !important;
  }
}

.question-label p strong {
  font-size: 1.1em;
  font-weight: 1200;
  text-decoration: underline;
}

.advanced-config {
  display: none;
}

.disabled, .disabled a, .disabled a:hover {
  color: #AAA !important;
}

