<div class="dropdown-menu">
  <%= if @ban.enabled do %>
    {link("Disable",
      to: ~p"/moderation/ban/#{@ban.id}/disable",
      class: "dropdown-item",
      method: "put"
    )}
  <% else %>
    {link("Enable",
      to: ~p"/moderation/ban/#{@ban.id}/enable",
      class: "dropdown-item",
      method: "put"
    )}
  <% end %>
</div>
