<% bsname = view_colour() %>

<TeiserverWeb.Moderation.ModerationComponents.sub_menu active="bans" view_colour={view_colour()} />

<div class="row">
  <div class="col-md-12">
    <div class={"card border-#{bsname}"}>
      <div class="card-body">
        <TeiserverWeb.Components.Moderation.BanComponents.section_menu
          active="edit"
          colour={bsname}
        />

        <hr />

        {render(
          "form.html",
          Map.put(assigns, :action, ~p"/moderation/ban/#{@ban.id}")
        )}
      </div>
    </div>
  </div>
</div>
