<%= central_component "detail_line",
  label: "Super group",
  value: (if @group.super_group, do: @group.super_group.name, else: 'None')
%>

<%= central_component "detail_line",
  label: "Type",
  value: (if @group.group_type, do: @group.group_type, else: 'None')
%>

<br />

<%= if @group_type do %>
  <%= for f <- @group_type.fields do %>

    <%= central_component "detail_line",
      label: f.name,
      value: @group.data[f.name]
    %>

  <% end %>
<% end %>
