<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tag() %>

    <title><%= assigns[:title] || Application.get_env(:central, Central)[:site_title] %></title>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/bootstrap.min.css") %>'>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/shards.css") %>'>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/layout.css") %>'>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/styles.css") %>'>

    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>

    <script src='<%= Routes.static_path(@conn, "/js/jquery.min.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/js/popper.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/js/bootstrap.min.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/js/fontawesome.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>

    <script type="text/javascript" charset="utf-8">
      function sidebar_active (name) {
        $('#sidebar_' + name).addClass('active');
        $('#sidebar_' + name).addClass('side-menu-active');

        $('#sidebar_' + name + ' .fal').addClass('fas');
        $('#sidebar_' + name + ' .far').addClass('fas');

        $('#sidebar_' + name + ' .fal').removeClass('fal');
        $('#sidebar_' + name + ' .far').removeClass('far');
      }

      function tint_page (fore_colour, back_colour) {
        $('#breadcrumb-wrapper').css('border-bottom', "1px solid #A00");
        $('#breadcrumb-wrapper').css('border-bottom-color', fore_colour);
        $('#breadcrumb-wrapper').css('background-color', back_colour);
        $('#breadcrumb').css('background-color', back_colour);
        $('footer').css('background-color', back_colour);

        $('head').append('<style>#page-instructions-button a:hover {border-bottom-color: ' + fore_colour + ';}</style>');

        $('.side-menu-active a i, .side-menu-active a').css('color', fore_colour);
        $('.side-menu-active a').css('border-left-color', fore_colour);

        $('.line-card a').css('color', fore_colour);
        $('head').append('<style>.line-card a:hover {background-color: ' + back_colour + ';}</style>');
      }

      $(function() {
        $('[data-toggle="popover"]').popover();

        setTimeout(function() {
          $("#flash-messages").fadeOut(500);
        }, 3500);

        // if (window.innerWidth < 768 || window.outerWidth < 768) {
        if (window.innerWidth < 1000 || window.outerWidth < 1000) {
          $("#wrapper").toggleClass("toggled");
          $("#dev-error-dropdown").hide();
          $("#page-title").hide();
          $(".navbar-brand").css("width", 20);
        } else {
          <%= if get_user_config_cache(@conn, "general.Sidebar") == false do %>
            $("#wrapper").toggleClass("toggled");
            $("#dev-error-dropdown").hide();
            $("#page-title").hide();
            $(".navbar-brand").css("width", 20);
          <% end %>
        }
      });
    </script>

    <%= if Kernel.function_exported?(@conn.private.phoenix_view, :colours, 0) do %>
      <% {fg, bg, _bsname} = @conn.private.phoenix_view.colours() %>
      <style type="text/css">
        @media print {
          #menu, #header, #navigation {
            display: none;
          }
        }

        #breadcrumb-wrapper {
          border-bottom: 1px solid <%= fg %> !important;
          background-color: <%= bg %> !important;
        }
        #breadcrumb {
          background-color: <%= bg %> !important;
        }

        .side-menu-active a i, .side-menu-active a {
          color: <%= fg %> !important;
        }
        .side-menu-active a {
          border-left-color: <%= fg %> !important;
          background: linear-gradient(to right, <%= bg %>, rgba(0,0,0,0));
        }

        .line-card a {
          color: <%= fg %> !important;
        }
        .line-card a:hover {
          background-color: <%= bg %> !important;
        }
    </style>
    <% end %>
  </head>
  <body class="fixed-navbar fixed-sidebar">
    <nav class="navbar fixed-top navbar-expand-md mb-3" id="top-nav" style="padding-top: 0; padding-bottom: 0;">

      <div class="flex-row d-flex">
        <div class="navbar-brand hide-sm" href="#">
          <i class="fa-fw <%= Application.get_env(:central, Central)[:site_icon] %>" style="margin: -4px 20px 0 0px;" class="d-inline align-top"></i>
          <span id="page-title">
            <%= assigns[:page_title] || Application.get_env(:central, Central)[:site_title] %>
          </span>
        </div>

        <div class="navbar-toggler-icon nav-link" style="margin-left: 20px; padding: 13px 15px; height: 100%;" onclick='$("#wrapper").toggleClass("toggled");'>
          <i class="fas fa-fw fa-bars fa-lg"></i>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" style="background-color: inherit;">
        <span class="navbar-toggler-icon" style="padding-top: 3px;">
          <i class="fas fa-fw fa-plus fa-lg"></i>
        </span>
      </button>

      <div class="navbar-collapse collapse" id="collapsingNavbar">
        <%# Right side %>
        <ul class="navbar-nav ml-auto">
          <%#
            TODO
             - Site search menu
             - Error log count for dev
             - Chat
             - Tasks
             - Documentation
          %>

          <%= if @current_user do %>
            <%= render CentralWeb.Communication.GeneralView, "notification_dropdown.html", assigns %>
            <%= render CentralWeb.General.SectionsView, "user_recents.html", assigns %>
            <%= render CentralWeb.General.SectionsView, "user_favourites.html", assigns %>
            <%= render CentralWeb.General.SectionsView, "user_dropdown.html", assigns %>
          <% else %>
            <li class="nav-item">
              <a href="<%= Routes.account_session_path(@conn, :new) %>">
                <i class="fa fa-user fa-fw"></i>
                Sign in
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div style="height: 47px;">&nbsp;</div>
    <div id="wrapper" class="toggled">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <%= render CentralWeb.General.PageView, "side_menu.html", assigns %>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper" style="margin: 0; padding: 0;">
        <%= if assigns[:breadcrumb_trails] do %>
          <%= render CentralWeb.ComponentView, "breadcrumb.html", assigns %>
        <% end %>

        <div id="flash-messages">
          <%= if get_flash(@conn, :danger) do %>
            <p class="alert alert-danger alert-no-margin" role="alert" id="app-flash-danger"><%= get_flash(@conn, :danger) %></p>
          <% end %>
          <%= if get_flash(@conn, :warning) do %>
            <p class="alert alert-warning alert-no-margin" role="alert" id="app-flash-warning"><%= get_flash(@conn, :warning) %></p>
          <% end %>
          <%= if get_flash(@conn, :info) do %>
            <p class="alert alert-info alert-no-margin" role="alert" id="app-flash-info"><%= get_flash(@conn, :info) %></p>
          <% end %>
          <%= if get_flash(@conn, :success) do %>
            <p class="alert alert-success alert-no-margin" role="alert" id="app-flash-success"><%= get_flash(@conn, :success) %></p>
          <% end %>
        </div>

        <div class="main-content-container container-fluid">
          <div class="row">
            <div class="col-md-12" id="page-main-content">
              <%= @inner_content %>
              <br />
            </div>
          </div>
        </div>

        <footer class="main-footer d-flex p-2 px-3 border-top">
          <span class="float-right">
            Created by <%= Application.get_env(:central, Central)[:credit] %>
          </span>
        </footer>
      </div>
      <!-- /#page-content-wrapper -->

      <%= if get_user_config_cache(@conn, "module.Quick action") == true do %>
        <%= render CentralWeb.General.QuickAction.HtmlView, "modal.html", assigns %>
      <% end %>

    </div>
    <!-- /#wrapper -->
  </body>
</html>
