<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= assigns[:title] || Application.get_env(:central, Central)[:site_title] %></title>
    <link rel="stylesheet" href='<%= Routes.static_path(@socket, "/css/bootstrap.min.css") %>'>
    <link rel="stylesheet" href='<%= Routes.static_path(@socket, "/css/shards.css") %>'>
    <link rel="stylesheet" href='<%= Routes.static_path(@socket, "/css/layout.css") %>'>
    <link rel="stylesheet" href='<%= Routes.static_path(@socket, "/css/styles.css") %>'>

    <%= csrf_meta_tag() %>

    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>

    <script src='<%= Routes.static_path(@socket, "/js/jquery.min.js") %>'></script>
    <script src='<%= Routes.static_path(@socket, "/js/popper.js") %>'></script>
    <script src='<%= Routes.static_path(@socket, "/js/bootstrap.min.js") %>'></script>
    <script src='<%= Routes.static_path(@socket, "/js/fontawesome.js") %>'></script>
    <script src='<%= Routes.static_path(@socket, "/js/app.js") %>'></script>

    <%= if assigns[:colours] do %>
    <% {fg, bg, _bsname} = @colours %>
    <style type="text/css">
      #breadcrumb-wrapper {
        border-bottom: 1px solid <%= fg %> !important;
        background-color: <%= bg %> !important;
      }
      #breadcrumb {
        background-color: <%= bg %> !important;
      }
      footer {
        background-color: <%= bg %> !important;
      }

      .side-menu-active a i, .side-menu-active a {
        color: <%= fg %> !important;
      }
      .side-menu-active a {
        border-left-color: <%= fg %> !important;
        background: linear-gradient(to right, <%= bg %>, rgba(0,0,0,0));
      }

      .line-card a {
        color: <%= fg %> !important;
      }
      .line-card a:hover {
        background-color: <%= bg %> !important;
      }
    </style>
    <% end %>

    <script type="text/javascript" charset="utf-8">
      $(function() {
        $('[data-toggle="popover"]').popover()

        // if (window.innerWidth < 768 || window.outerWidth < 768) {
        if (window.innerWidth < 1000 || window.outerWidth < 1000) {
          $("#wrapper").toggleClass("toggled");
          $("#dev-error-dropdown").hide();
          $("#page-title").hide();
          $(".navbar-brand").css("width", 20);
        }
      });
    </script>

    <style type="text/css">
      @media print {
        #menu, #header, #navigation {
          display: none;
        }
      }
    </style>
  </head>

  <body class="fixed-navbar fixed-sidebar">
    <nav class="navbar fixed-top navbar-expand-md mb-3" id="top-nav" style="padding-top: 0; padding-bottom: 0;">

      <div class="flex-row d-flex">
        <div class="navbar-brand hide-sm" href="#">
          <i class="<%= Application.get_env(:central, Central)[:site_icon] %>" style="margin: -4px 20px 0 0px;" class="d-inline align-top"></i>
          <span id="page-title">
            <%= assigns[:page_title] || Application.get_env(:central, Central)[:site_title] %>
          </span>
        </div>

        <div class="navbar-toggler-icon nav-link" style="margin-left: 20px; padding: 13px 15px; height: 100%;" onclick='$("#wrapper").toggleClass("toggled");'>
          <i class="fas fa-fw fa-bars fa-lg"></i>
        </div>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" style="background-color: inherit;">
        <span class="navbar-toggler-icon" style="padding-top: 3px;">
          <i class="fas fa-fw fa-plus fa-lg"></i>
        </span>
      </button>

      <div class="navbar-collapse collapse" id="collapsingNavbar">
        <%# Right side %>
        <ul class="navbar-nav ml-auto" phx-update="ignore" id="navbar">
          <%= if @current_user do %>
            <%#= render CentralWeb.Communication.GeneralView, "notification_dropdown_live.html", Map.merge(assigns, %{conn: @socket}) %>
            <%= render CentralWeb.General.SectionsView, "user_recents.html", Map.put(assigns, :conn, @socket) %>
            <%= render CentralWeb.General.SectionsView, "user_favourites.html", Map.put(assigns, :conn, @socket) %>
            <%= render CentralWeb.General.SectionsView, "user_dropdown.html", Map.put(assigns, :conn, @socket) %>
          <% else %>
            <li class="nav-item">
              <a href="<%= Routes.account_session_path(@socket, :new) %>">
                <i class="fa fa-user fa-fw"></i>
                Sign in
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div style="height: 47px;">&nbsp;</div>
    <div id="wrapper" class="toggled">
      <!-- Sidebar -->

      <div id="sidebar-wrapper">
        <%= render CentralWeb.General.PageView, "side_menu.html", Map.put(assigns, :conn, @socket) %>
      </div>
      <!-- /#sidebar-wrapper -->

      <!-- Page Content -->
      <div id="page-content-wrapper" style="margin: 0; padding: 0;">
        <%= if assigns[:breadcrumb_trails] do %>
          <%= render CentralWeb.ComponentView, "breadcrumb.html", breadcrumb_trails: @breadcrumb_trails %>
        <% end %>

        <div id="flash-messages">
          <%= if live_flash(@flash, :danger) do %>
            <p class="alert alert-danger alert-no-margin" role="alert" id="app-flash-danger"><%= live_flash(@flash, :danger) %></p>
          <% end %>
          <%= if live_flash(@flash, :warning) do %>
            <p class="alert alert-warning alert-no-margin" role="alert" id="app-flash-warning"><%= live_flash(@flash, :warning) %></p>
          <% end %>
          <%= if live_flash(@flash, :info) do %>
            <p class="alert alert-info alert-no-margin" role="alert" id="app-flash-info"><%= live_flash(@flash, :info) %></p>
          <% end %>
          <%= if live_flash(@flash, :success) do %>
            <p class="alert alert-success alert-no-margin" role="alert" id="app-flash-success"><%= live_flash(@flash, :success) %></p>
          <% end %>
        </div>

        <div class="main-content-container container-fluid">
          <div class="row">
            <div class="col-md-12" id="page-main-content">
              <%= @inner_content %>
              <br />
            </div>
          </div>
        </div>

        <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
          <span class="float-right">
            Created by <%= Application.get_env(:central, Central)[:credit] %>
          </span>
        </footer>
      </div>
      <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
  </body>
</html>
