<main cclass="container">
  <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
  <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :danger) %></p>
  <p class="alert alert-success" role="alert"><%= get_flash(@conn, :success) %></p>
  <p class="alert alert-warning" role="alert"><%= get_flash(@conn, :warning) %></p>
  <%= @inner_content %>
</main>
