<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tag() %>

    <title><%= assigns[:title] || Application.get_env(:central, Central)[:site_title] %></title>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/bootstrap.min.css") %>'>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/shards.css") %>'>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/layout.css") %>'>
    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/styles.css") %>'>

    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>

    <script src='<%= Routes.static_path(@conn, "/js/jquery.min.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/js/popper.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/js/bootstrap.min.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/js/fontawesome.js") %>'></script>
    <script src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>

    <script type="text/javascript" charset="utf-8">
      function sidebar_active (name) {}
      function tint_page (fore_colour, back_colour) {}

      $(function() {
        setTimeout(function() {
          $("#flash-messages").fadeOut(500);
        }, 3500);
      });
    </script>
  </head>
  <body class="blank body-logo">
    <%= if @current_user do %>
      <div id="recache-div" data-user-id="<%= @current_user.id %>"></div>
    <% end %>

    <%= if get_flash(@conn, :danger) do %>
      <p class="alert alert-danger alert-no-margin" role="alert" id="app-flash-danger"><%= get_flash(@conn, :danger) %></p>
    <% end %>
    <%= if get_flash(@conn, :warning) do %>
      <p class="alert alert-warning alert-no-margin" role="alert" id="app-flash-warning"><%= get_flash(@conn, :warning) %></p>
    <% end %>
    <%= if get_flash(@conn, :info) do %>
      <p class="alert alert-info alert-no-margin" role="alert" id="app-flash-info"><%= get_flash(@conn, :info) %></p>
    <% end %>
    <%= if get_flash(@conn, :success) do %>
      <p class="alert alert-success alert-no-margin" role="alert" id="app-flash-success"><%= get_flash(@conn, :success) %></p>
    <% end %>

    <div class="main-content-container container-fluid">
      <%= @inner_content %>

      <%= if get_user_config_cache(@conn, "module.Quick action") == true do %>
        <%= render CentralWeb.General.QuickAction.HtmlView, "modal.html", assigns %>
      <% end %>
    </div>

    <footer class="main-footer d-flex p-2 px-3 bg-white border-top">
      <span class="float-right">
        Created by <%= Application.get_env(:central, Central)[:credit] %>
      </span>
    </footer>

  </body>
</html>
<!-- Blank -->
