<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tag() %>

    <title><%= assigns[:title] || Application.get_env(:central, Central)[:site_title] %></title>

    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>
  </head>
  <body class="blank body-logo">
    <%= @inner_content %>
  </body>
</html>
<!-- Empty -->
