<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
    <%= csrf_meta_tag() %>

  <title><%= assigns[:title] || Application.get_env(:central, Central)[:site_title] %></title>
  <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/bootstrap.min.css") %>'>
  <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/shards.css") %>'>
  <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/shards-extras.css") %>'>
  <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/styles.css") %>'>

  <script>
    window.userToken = "<%= assigns[:user_token] %>";
  </script>

  <script src='<%= Routes.static_path(@conn, "/js/jquery.min.js") %>'></script>
  <script src='<%= Routes.static_path(@conn, "/js/popper.js") %>'></script>
  <script src='<%= Routes.static_path(@conn, "/js/bootstrap.min.js") %>'></script>
  <script src='<%= Routes.static_path(@conn, "/js/fontawesome.js") %>'></script>
  <script src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>

  <style type="text/css">
    body {
      background: url('<%= Routes.static_path(@conn, "/images/logo/bg_logo.svg") %>') center center no-repeat;
      background-attachment: fixed
    }

    label {
      font-weight: bold;
    }

    .navbar-dark .navbar-nav .nav-link {
      color: rgba(255, 255, 255, 0.8);
      font-size: 1.1rem;
    }

    .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
      color: rgba(255, 255, 255, 1);
      font-size: 1.1rem;
    }

    #navbarNavDropdown .navbar-left .nav-link {
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -o-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      transition: all 300ms linear;

      /*border-bottom: 1px solid #47C;*/
      margin: 3px 5px;
      padding: 5px 15px;
    }

    #navbarNavDropdown .navbar-left .nav-link:hover, #navbarNavDropdown .navbar-left .active {
      /*border-bottom: 1px solid #FFF;*/
      background-color: rgba(200, 200, 200, 0.25)
    }

    .landing-header {
      height: 20vh;
      min-height: 300px;
    }

    .codedirection {unicode-bidi:bidi-override; direction: rtl;}
    .displaynone {display:none;}

    footer {
      color: #AAA;
    }
  </style>

  <script type="text/javascript" charset="utf-8">
    function sidebar_active (name) {}
    function tint_page (fore_colour, back_colour) {}

    $(function() {
      setTimeout(function() {
        $("#flash-messages").fadeOut(500);
      }, 10000);
    });
  </script>
</head>

<div id="flash-messages">
  <%= if get_flash(@conn, :danger) do %>
    <p class="alert alert-danger alert-no-margin" role="alert" id="app-flash-danger"><%= get_flash(@conn, :danger) %></p>
  <% end %>
  <%= if get_flash(@conn, :warning) do %>
    <p class="alert alert-warning alert-no-margin" role="alert" id="app-flash-warning"><%= get_flash(@conn, :warning) %></p>
  <% end %>
  <%= if get_flash(@conn, :info) do %>
    <p class="alert alert-info alert-no-margin" role="alert" id="app-flash-info"><%= get_flash(@conn, :info) %></p>
  <% end %>
  <%= if get_flash(@conn, :success) do %>
    <p class="alert alert-success alert-no-margin" role="alert" id="app-flash-success"><%= get_flash(@conn, :success) %></p>
  <% end %>
</div>

<body class="shards-landing-page--1">
  <div style="min-height: 100vh;">
    <%= @inner_content %>
  </div>

  <!-- Footer Section -->
  <footer>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">

        <%#
        <span class=""><strong>Email: </strong>info&#64;tjsoft<span class="displaynone">null</span>ware.co.uk</span>
        %>
      </div>
    </nav>
  </footer>
  <!-- / Footer Section -->

</body>

</html>
<!-- TJSoftware -->
