<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= Application.get_env(:centaur, CentaurWeb)[:page_title] %></title>

    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>

    <script src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>

    <link rel="stylesheet" href='<%= Routes.static_path(@conn, "/css/fontawesome/css/all.css") %>'>

    <script type="text/javascript" charset="utf-8">
      function sidebar_active (name) {}
      function tint_page (fore_colour, back_colour) {}
    </script>

    <style type="text/css">
      @page {
        size: auto;   /* auto is the initial value */
        margin: 0;  /* this affects the margin in the printer settings */
      }

      /*
      @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

      * {
        margin: 0;
        padding: 0;
      }

      body {
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        background-color: #fff;
        font-size: 13px;
        color: #000;
        margin: 0;
        padding: 0;
        height: 100%;
      }
      @page {
        size: 21cm 29.7cm;
        margin: 30mm 45mm 30mm 45mm;
      }
      */

      #logo {

      }

      #address {

      }

        #street, #town, #county {

        }
        #postcode {

        }

      #content {
        padding: 10px 0;
      }

      #content p {
        padding-bottom: 1em;
      }

      body {
        -webkit-print-color-adjust: exact;
      }
    </style>
  </head>

  <body>

    <%= render @view_module, @view_template, assigns %></article>
    <%#= @inner_content %>

  </body>
</html>