<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || Application.get_env(:central, Central)[:site_title], suffix: Application.get_env(:central, Central)[:site_suffix] %>

    <%
      light_mode = case get_user_config_cache(@current_user, "general.Colour scheme") do
        "Site default" -> get_site_config_cache("user.Default light mode")
        "Light" -> true
        "Dark" -> false
      end
    %>

    <%= if light_mode do %>
      <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/mdb_light.css")}/>
    <% else %>
      <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/mdb_dark.css")}/>
    <% end %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/css/fontawesome.css")}/>
    
    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>

    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/js/jquery.min.js")}></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/js/bootstrap.min.js")}></script>
  </head>
  <body class="container-fluid px-0 d-flex flex-column">
    <%= @inner_content %>
  </body>
</html>
