<div class="card page-card">
  <div class="card-body">
    <h1>Create a new bot</h1>

    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <.bot_form
          button_label="Create bot"
          changeset={@changeset}
          action={~p"/teiserver/admin/bot"}
        />
      </div>
    </div>
  </div>
</div>
