<% {_fg, _bg, bsname} = @colours %>

<%= render TeiserverWeb.Admin.GeneralView, "sub_menu.html", %{active: "tools", conn: Map.put(@socket, :permissions, @current_user.permissions)} %>

<div class="row">
  <div class="col-md-12">
    <div class="card border-<%= bsname %> page-card">
      <div class="card-body">

        <h4>Agent logs</h4>

<table class="table">
  <thead>
    <tr>
      <th>Agent</th>
      <th>Msg</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="logs">
    <%= for log <- @filtered_logs do %>
      <tr>
        <td><%= log.from %></td>
        <td><%= log.msg %></td>

        <td>
          <span class="btn btn-primary btn-sm" phx-click="filter-add:agent=<%= log.from %>">
            <i class='fa-fw far fa-filter'></i>
          </span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


      </div>
    </div>
  </div>
</div>
