<% bsname = view_colour() %>

<.section_menu_button
  active={@active == "index"}
  icon="fa-solid fa-bars"
  bsname={bsname}
  url={~p"/admin/discord_channels"}
>
  List
</.section_menu_button>

<%= if allow?(@conn, "Admin") do %>
  <.section_menu_button
    active={@active == "new"}
    icon="fa-solid fa-plus"
    bsname={bsname}
    url={~p"/admin/discord_channels/new"}
  >
    New
  </.section_menu_button>
<% end %>
