<div class="row">
  <div class="col-md-12">
    {central_component("detail_line",
      label: "View permission",
      value: @discord_channel.view_permission
    )}

    {central_component("detail_line",
      label: "Post permission",
      value: @discord_channel.post_permission
    )}
  </div>
</div>
