<% bsname = view_colour() %>

<div class="row section-menu">
  <div class="col-md-12">
    <div class={"card border-#{bsname}"}>
      <div class="card-body">
        <TeiserverWeb.Components.Admin.TextCallbackComponents.section_menu
          active="new"
          colour={bsname}
        />

        <hr />

        {render(
          "form.html",
          Map.put(assigns, :action, ~p"/admin/text_callbacks")
        )}
      </div>
    </div>
  </div>
</div>
