<% bsname = view_colour() %>

<%= central_component("section_menu_button",
  name: "index",
  label: "List",
  active: @active,
  icon: "fa-regular fa-bars",
  bsname: bsname,
  url: ~p"/admin/text_callbacks"
) %>

<%= if allow?(@conn, "Server") do %>
  <%= central_component("section_menu_button",
    name: "new",
    label: "New",
    active: @active,
    icon: "fa-regular fa-plus",
    bsname: bsname,
    url: ~p"/admin/text_callbacks/new"
  ) %>
<% end %>
