<% bsname = view_colour() %>

{render(
  TeiserverWeb.Report.GeneralView,
  "sub_menu.html",
  Map.merge(assigns, %{active: "ratings"})
)}

<div class="row section-menu">
  <div class="col-md-12">
    <div class={"card border-#{bsname}"}>
      <div class="card-body">
        {render(TeiserverWeb.Report.RatingView, "section_menu.html",
          conn: @conn,
          active: "distribution_table"
        )}
        <br /><br />
      </div>
    </div>
  </div>
</div>
