<% bsname = view_colour() %>

<.section_menu_button
  active={@active == "index"}
  icon={Teiserver.Helper.StylingHelper.icon(:list)}
  bsname={bsname}
  url={~p"/telemetry/infolog"}
>
  List
</.section_menu_button>

<.section_menu_button
  active={@active == "search"}
  icon={Teiserver.Helper.StylingHelper.icon(:search)}
  bsname={bsname}
  url={~p"/telemetry/infolog?search=true"}
>
  Search
</.section_menu_button>
