<% bsname = view_colour() %>

{central_component("section_menu_button",
  name: "index",
  label: "List",
  active: @active,
  icon: "fa-solid fa-bars",
  bsname: bsname,
  url: Routes.ts_admin_accolade_path(@conn, :index)
)}

<%= if @active == "user" do %>
  {central_component("section_menu_button",
    name: "user",
    label: "User",
    active: @active,
    icon: "fa-solid fa-user",
    bsname: bsname,
    url: @conn.request_path
  )}
<% end %>
