<table class="table">
  <thead>
    <tr>
        <th scope="col"><b>Total</b></th>
        <th scope="col"><b> <%= @playtime.total %> hours</b></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="col">Playing</th>
      <th scope="col"> <%= @playtime.playing %> hours</th>
    </tr>
    <tr>
      <th scope="col">Spectating</th>
      <th scope="col"> <%= @playtime.spectating %> hours</th>
    </tr>
  </tbody>
</table>
<i>(Remaining time is time spent in lobby and menu.)</i>
