<% {_fg, _bg, bsname} = colours() %>



<%= render CentralWeb.Account.GeneralView, "sub_menu.html", Map.merge(assigns, %{active: "user_configs"}) %>

<div class="row">
  <div class="col-md-12">
    <div class={"card border-#{bsname} page-card"}>
      <div class="card-body">
        <h4>Edit setting</h4>

<%= render "form.html", Map.put(assigns, :action, Routes.user_config_path(@conn, :update, @user_config)) %>

      </div>
    </div>

  </div>
</div>